name: Playground

on:
  merge_group:
  workflow_dispatch:
  pull_request:
  push:
    paths: ['.github/workflows/playground.yml', '**/*.yml']
  release:
    types:
      - published
      - released

permissions:
  checks: write

defaults:
  run:
    shell: bash

jobs:
  playground:  
    runs-on: ubuntu-latest
    steps:
      - if: ${{ github.event_name == 'merge_group' }}
        run: sleep 30
      
