name: Playground

on:
  merge_group:
  workflow_dispatch:
  pull_request:
  push:
    paths: ['.github/workflows/playground.yml', '**/*.yml']
  release:
    types:
      - published
      - released

permissions:
  checks: write

defaults:
  run:
    shell: bash

jobs:
  playground:  
    uses: galargh/.github/.github/workflows/playground.yml@master
      
